* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(211, 211, 211);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
.container {
    width: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
}
.container-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
/* Top Grid */
.top-grid {
    padding: 4%;
    color: rgb(176, 190, 199);
    font-weight: 700;
    font-size: 18px;
}
.top-grid p {
    line-height: 200%;
}
.top-grid h1 {
    color: rgb(42, 178, 175);
}
.top-grid h2 {
    padding: 2% 0;
    color: rgb(192, 223, 52);
}
/* Bottom Grid */
.bottom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* Price Section */
.price {
    background-color: rgb(42, 178, 175);
    text-align: left;
    padding: 8% 8% 0 8%;
    color: rgb(255, 255, 255);
    border-radius: 0 0 0 20px;
}
.price h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 2%;
}
.price p {
    font-size: 18px;
    font-weight: 700;
    color: hsl(204, 43%, 93%);
}
#price-mnth {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-right: 5%;
    line-height: 200%;
}
#singup {
    width: 100%;
    margin-top: 12%;
    height: 25%;
    border-radius: 8px;
    background-color: rgb(154, 205, 50);
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 5px 5px 10px rgb(35, 150, 148);;

}#singup:hover {
    background-color:  rgb(129, 187, 12);
    font-size: 18px;
    cursor: pointer;
}
/* Why Us Section */
.whyus {
    background-color: rgba(42, 178, 175, .8);
    padding: 8% 8% 5% 8%;
    color: white;
    border-radius: 0 0 20px 0;
}
.whyus ul {
    margin-top: 5%;
    list-style: none;
}
.whyus li {
    padding: 1% 0;
    color: hsl(204, 43%, 93%);
}

@media (max-width: 992px) {
    .bottom-grid {
        grid-template-columns: 1fr;
    }
    .price {
        border-radius: 0;
        padding: 8%;
    }
    #singup {
        height: 50px;
    }
    .whyus {
        border-radius: 0 0 20px 20px;
        padding-bottom: 4%;
    }
    .container{
        width: 90%;
    }
}